.profile_header {
  min-height: 250px;
  background-color: rgb(103, 58, 183);
  color: white;
  display: flex;
  justify-content: flex-end;
  mat-card-content {
    display: flex;
    align-items: flex-end;
    // gap: 16px;
    div {
      height: 64px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-left: 16px;
    }
  }
  img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    object-fit: cover;
    filter: contrast(0%) brightness(2);
  }
}

.menu_button_upperright {
  position: absolute;
  top: 0;
  right: 0;
}
